body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #7acbe6
}
#root2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
h1{
  font-size: 50px;
  border: 5px dashed red;
  border-radius: 5px;
  box-shadow: 10px 10px 5px;
}